<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Math Formula</title>
</head>
<body>
<h2>Công thức toán học</h2>
<div>
    <svg xmlns="http://www.w3.org/2000/svg" width="400" height="50">
        <text x="10" y="25" font-family="serif" font-size="20">
            [[${formula}]]
        </text>
    </svg>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt"><math xmlns="http://www.w3.org/1998/Math/MathML"><msup><mrow><mfenced separators="|"><mrow><mi mathcolor="101840">x</mi><mo mathcolor="101840">+</mo><mi mathcolor="101840">a</mi></mrow></mfenced></mrow><mrow><mi mathcolor="101840">n</mi></mrow></msup><mo mathcolor="101840">=</mo><munderover><mo>∑</mo><mrow><mi mathcolor="101840">k</mi><mo mathcolor="101840">=</mo><mn mathcolor="101840">0</mn></mrow><mrow><mi mathcolor="101840">n</mi></mrow></munderover><mrow><mfenced separators="|"><mrow><mfrac linethickness="0pt"><mrow><mi mathcolor="101840">n</mi></mrow><mrow><mi mathcolor="101840">k</mi></mrow></mfrac></mrow></mfenced><msup><mrow><mi mathcolor="101840">x</mi></mrow><mrow><mi mathcolor="101840">k</mi></mrow></msup><msup><mrow><mi mathcolor="101840">a</mi></mrow><mrow><mi mathcolor="101840">n</mi><mo mathcolor="101840">-</mo><mi mathcolor="101840">k</mi></mrow></msup></mrow></math></p>
<!--    <p th:utext="${formulaCheck}"></p>-->
</div>
</body>
</html>
